body {
	margin: 0;
	height: 100%;
	font-family: 'Bowlby One SC', cursive;
}

html {
	height: 100%;
}

#map, #content {
	height: 100%;
	width: 100%;
}

#content {
	position: absolute;
	z-index: 100;
	background: rgba(255, 0, 0, 0.05);
}

.zoom {
	width: 200px;
	position: absolute;
	bottom: 25px;
	margin: 0 0 0 25px;
	float: left;
	-webkit-transform: rotate(-2deg); 
	-moz-transform: rotate(-2deg);	
}

h2 a {
	color: yellow;
	text-decoration: none;
	float: left;
	margin-right: 5px;
	background: #000;
	padding: 0 10px;
}

h1 { 
	position: absolute;
	top: 0px;
	margin: 25px 20px 20px 20px;
	float: left; background: #000; color: yellow; padding: 4px 13px 2px 13px; font-size: 50px; line-height: 1.2;
	-webkit-transform: rotate(-2deg); 
	-moz-transform: rotate(-2deg);
	font-weight: normal;
}
